<a href="/">&larr; Back Home</a>
<div class="mx-auto w-75">
  <h2>Author: <%= author.name %></h2>

  <a href="/posts/new">Create a New Post</a>
  <h2 class="my-3">Posts</h2>
  <div class="ml-5 w-75">
    <ul class="list-group">
      <% author.posts.forEach(post => { %>
      <li class="list-group-item w-100">
        <a class="h3" href="/posts/<%=post.id%>"
          ><%=post.title %></a
        >
      </li>
      <%}) %>
    </ul>
  </div>
</div>
